div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj165 {
position: absolute;
overflow: hidden;
top: 88px;
left: 28px;
width: 956px;
height: 609px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj165_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 956px;
	height: 609px;
}
div#obj173 {
position: absolute;
overflow: hidden;
top: 249px;
left: 387px;
width: 190px;
height: 68px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj173_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 190px;
	height: 68px;
}
div#obj175 {
position: absolute;
overflow: hidden;
top: 251px;
left: 572px;
width: 192px;
height: 66px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj175_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 192px;
	height: 66px;
}
div#obj183 {
position: absolute;
overflow: hidden;
top: 468px;
left: 153px;
width: 249px;
height: 197px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj183_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 249px;
	height: 197px;
}
div#obj187 {
position: absolute;
overflow: hidden;
top: 313px;
left: 143px;
width: 213px;
height: 20px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj187_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 213px;
	height: 20px;
}
div#obj189 {
position: absolute;
overflow: hidden;
top: 377px;
left: 297px;
width: 141px;
height: 21px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj189_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 141px;
	height: 21px;
}
div#obj167 {
position: absolute;
overflow: hidden;
top: 515px;
left: 505px;
width: 394px;
height: 86px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj167_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 394px;
	height: 86px;
}
div#obj199 {
position: absolute;
overflow: hidden;
top: 79px;
left: 128px;
width: 233px;
height: 211px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj199_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 233px;
	height: 211px;
}
div#obj171 {
position: absolute;
overflow: hidden;
top: 369px;
left: 535px;
width: 215px;
height: 136px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj171_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 215px;
	height: 136px;
}
div#obj211 {
position: absolute;
overflow: hidden;
top: 402px;
left: 181px;
width: 47px;
height: 84px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj211_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 47px;
	height: 84px;
}
div#obj218 {
position: absolute;
overflow: hidden;
top: 409px;
left: 801px;
width: 71px;
height: 120px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj218_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 71px;
	height: 120px;
}
div#obj220 {
position: absolute;
overflow: hidden;
top: 538px;
left: 68px;
width: 103px;
height: 168px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj220_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 103px;
	height: 168px;
}
div#obj209 {
position: absolute;
overflow: hidden;
top: 393px;
left: 241px;
width: 55px;
height: 90px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj209_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 55px;
	height: 90px;
}
div#obj4 {
position: absolute;
overflow: hidden;
top: 13px;
left: 1px;
width: 1023px;
height: 12px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1023px;
	height: 12px;
}
div#obj6 {
position: absolute;
overflow: hidden;
top: 740px;
left: 1px;
width: 1023px;
height: 12px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj6_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1023px;
	height: 12px;
}
div#obj83 {
position: absolute;
overflow: hidden;
top: 701px;
left: 900px;
width: 100px;
height: 55px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj83_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 55px;
}
div#obj266 {
position: absolute;
overflow: hidden;
top: 17px;
left: 34px;
width: 160px;
height: 49px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj266_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 160px;
	height: 49px;
}

div#obj163 {
position: absolute;
overflow: hidden;
top: 48px;
left: 284px;
width: 525px;
height: 47px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj163_content {
}
div#obj10 {
position: absolute;
overflow: hidden;
top: 716px;
left: 788px;
width: 120px;
height: 24px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj10_content {
}
div#obj12 {
position: absolute;
overflow: hidden;
top: 719px;
left: 27px;
width: 201px;
height: 24px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj12_content {
}
















body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
/* Insert your Text Styles Formats below */
.SCText span.Add-Margin {
	margin: 10px;
}
.SCText span.Float-Left {
	float: left;
}
.SCText span.Float-Right {
	float: right;
}
.SCText span.Shadowed {
	text-shadow: #000000 1px 1px 2px;
}
.SCText span.Vertical-Align-Middle {
	display: inline-block;
	vertical-align: middle;
}

/* Enter your custom styles below */
/* STYLES EXTRACTED FROM TEXT OBJECTS */

/* STYLES EXTRACTED FROM TEXT OBJECTS */

.SCPage {
background-color: #FFFFFF
}
