div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj892 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 1024px;
height: 768px;
opacity: 0.7;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj892_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1024px;
	height: 768px;
}
div#obj899 {
position: absolute;
overflow: hidden;
top: 390px;
left: 423px;
width: 178px;
height: 72px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj899_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 178px;
	height: 72px;
}

div#obj896 {
position: absolute;
overflow: hidden;
top: 296px;
left: 186px;
width: 655px;
height: 118px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Lato";
font-size: 30px;
}
div#obj896_content {
}



div#obj906 {
position: absolute;
overflow: hidden;
top: 270px;
left: 155px;
width: 714px;
height: 227px;
opacity: 0.85;
z-index: 1;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: rgba(0,0,0,0);
border-width: 1px;
border-style: solid;
border-radius: 25px;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
background-color: #FFFFFF;
background-repeat: repeat;
}












body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
/* Insert your Text Styles Formats below */
.SCText span.Add-Margin {
	margin: 10px;
}
.SCText span.Float-Left {
	float: left;
}
.SCText span.Float-Right {
	float: right;
}
.SCText span.Shadowed {
	text-shadow: #000000 1px 1px 2px;
}
.SCText span.Vertical-Align-Middle {
	display: inline-block;
	vertical-align: middle;
}

/* Enter your custom styles below */
/* STYLES EXTRACTED FROM TEXT OBJECTS */

/* STYLES EXTRACTED FROM TEXT OBJECTS */

.SCPage {
background-color: #FFFFFF
}
