div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj313 {
position: absolute;
overflow: hidden;
top: 70px;
left: 82px;
width: 132px;
height: 55px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj313_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 132px;
	height: 55px;
}
div#obj379 {
position: absolute;
overflow: hidden;
top: 146px;
left: 102px;
width: 812px;
height: 512px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj379_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 812px;
	height: 512px;
}
div#obj549 {
position: absolute;
overflow: hidden;
top: 146px;
left: 102px;
width: 812px;
height: 512px;
opacity: 1;
z-index: 2;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj549_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 812px;
	height: 512px;
}
div#obj560 {
position: absolute;
overflow: hidden;
top: -606px;
left: 102px;
width: 812px;
height: 512px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj560_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 812px;
	height: 512px;
}
div#obj551 {
position: absolute;
overflow: hidden;
top: 146px;
left: 102px;
width: 812px;
height: 512px;
opacity: 1;
z-index: 4;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj551_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 812px;
	height: 512px;
}
div#obj553 {
position: absolute;
overflow: hidden;
top: 146px;
left: 102px;
width: 812px;
height: 512px;
opacity: 1;
z-index: 5;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj553_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 812px;
	height: 512px;
}
div#obj4 {
position: absolute;
overflow: hidden;
top: 13px;
left: 1px;
width: 1023px;
height: 12px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1023px;
	height: 12px;
}
div#obj6 {
position: absolute;
overflow: hidden;
top: 740px;
left: 1px;
width: 1023px;
height: 12px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj6_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1023px;
	height: 12px;
}
div#obj83 {
position: absolute;
overflow: hidden;
top: 701px;
left: 900px;
width: 100px;
height: 55px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj83_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 55px;
}
div#obj266 {
position: absolute;
overflow: hidden;
top: 17px;
left: 34px;
width: 160px;
height: 49px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj266_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 160px;
	height: 49px;
}

div#obj10 {
position: absolute;
overflow: hidden;
top: 716px;
left: 788px;
width: 120px;
height: 24px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj10_content {
}
div#obj12 {
position: absolute;
overflow: hidden;
top: 719px;
left: 27px;
width: 201px;
height: 24px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj12_content {
}
















body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
/* Insert your Text Styles Formats below */
.SCText span.Add-Margin {
	margin: 10px;
}
.SCText span.Float-Left {
	float: left;
}
.SCText span.Float-Right {
	float: right;
}
.SCText span.Shadowed {
	text-shadow: #000000 1px 1px 2px;
}
.SCText span.Vertical-Align-Middle {
	display: inline-block;
	vertical-align: middle;
}

/* Enter your custom styles below */
/* STYLES EXTRACTED FROM TEXT OBJECTS */

/* STYLES EXTRACTED FROM TEXT OBJECTS */

.SCPage {
background-color: #FFFFFF
}
