div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}

div#obj813 {
position: absolute;
overflow: hidden;
top: 0px;
left: -135px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 13;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj357 {
position: absolute;
overflow: hidden;
top: 109px;
left: 66px;
width: 910px;
height: 597px;
opacity: 1;
z-index: 0;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj357_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 910px;
	height: 597px;
}
div#obj791 {
position: absolute;
overflow: hidden;
top: 215px;
left: 88px;
width: 34px;
height: 190px;
opacity: 1;
z-index: 2;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj791_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 34px;
	height: 190px;
}
div#obj792 {
position: absolute;
overflow: hidden;
top: 174px;
left: 164px;
width: 143px;
height: 112px;
opacity: 1;
z-index: 3;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj792_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 143px;
	height: 112px;
}
div#obj793 {
position: absolute;
overflow: hidden;
top: 244px;
left: 342px;
width: 71px;
height: 40px;
opacity: 1;
z-index: 4;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj793_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 71px;
	height: 40px;
}
div#obj794 {
position: absolute;
overflow: hidden;
top: 317px;
left: 159px;
width: 105px;
height: 89px;
opacity: 1;
z-index: 5;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj794_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 105px;
	height: 89px;
}
div#obj795 {
position: absolute;
overflow: hidden;
top: 336px;
left: 303px;
width: 118px;
height: 71px;
opacity: 1;
z-index: 6;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj795_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 118px;
	height: 71px;
}
div#obj796 {
position: absolute;
overflow: hidden;
top: 450px;
left: 193px;
width: 101px;
height: 191px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj796_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 101px;
	height: 191px;
}
div#obj797 {
position: absolute;
overflow: hidden;
top: 466px;
left: 309px;
width: 70px;
height: 96px;
opacity: 1;
z-index: 8;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj797_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 70px;
	height: 96px;
}
div#obj798 {
position: absolute;
overflow: hidden;
top: 474px;
left: 408px;
width: 22px;
height: 95px;
opacity: 1;
z-index: 9;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj798_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 22px;
	height: 95px;
}
div#obj799 {
position: absolute;
overflow: hidden;
top: 538px;
left: 456px;
width: 46px;
height: 33px;
opacity: 1;
z-index: 10;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj799_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 46px;
	height: 33px;
}
div#obj800 {
position: absolute;
overflow: hidden;
top: 126px;
left: 503px;
width: 457px;
height: 301px;
opacity: 1;
z-index: 11;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj800_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 457px;
	height: 301px;
}
div#obj801 {
position: absolute;
overflow: hidden;
top: 455px;
left: 599px;
width: 241px;
height: 242px;
opacity: 1;
z-index: 12;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj801_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 241px;
	height: 242px;
}
div#obj4 {
position: absolute;
overflow: hidden;
top: 13px;
left: 1px;
width: 1023px;
height: 12px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1023px;
	height: 12px;
}
div#obj6 {
position: absolute;
overflow: hidden;
top: 740px;
left: 1px;
width: 1023px;
height: 12px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj6_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1023px;
	height: 12px;
}
div#obj83 {
position: absolute;
overflow: hidden;
top: 701px;
left: 900px;
width: 100px;
height: 55px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj83_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 55px;
}
div#obj266 {
position: absolute;
overflow: hidden;
top: 17px;
left: 34px;
width: 160px;
height: 49px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj266_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 160px;
	height: 49px;
}

div#obj31 {
position: absolute;
overflow: hidden;
top: 44px;
left: 252px;
width: 602px;
height: 47px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj31_content {
}
div#obj10 {
position: absolute;
overflow: hidden;
top: 716px;
left: 788px;
width: 120px;
height: 24px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj10_content {
}
div#obj12 {
position: absolute;
overflow: hidden;
top: 719px;
left: 27px;
width: 201px;
height: 24px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj12_content {
}
















body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
/* Insert your Text Styles Formats below */
.SCText span.Add-Margin {
	margin: 10px;
}
.SCText span.Float-Left {
	float: left;
}
.SCText span.Float-Right {
	float: right;
}
.SCText span.Shadowed {
	text-shadow: #000000 1px 1px 2px;
}
.SCText span.Vertical-Align-Middle {
	display: inline-block;
	vertical-align: middle;
}

/* Enter your custom styles below */
/* STYLES EXTRACTED FROM TEXT OBJECTS */

/* STYLES EXTRACTED FROM TEXT OBJECTS */

.SCPage {
background-color: #FFFFFF
}
